<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Questions#answer</h1>
    <p>
      <!-- Find me in app/views/questions/answer.html.erb -->
      <div class="question">
          <p>
        <%= @userInput %>
          </p>
          <p>
            you
          </p>
      </div>
      <div class="reponse">
        <p>
          <%= @answer %>
        </p>
        <p>
          your coach
        </p>
      </div>
    </p>
  </div>
</body>


